/* src/HomePage.css */

.homepage {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  
  .homepage-main {
    padding: 20px 250px;
  }
  
  .intro, .features {
    margin: 20px 0;
  }
  
  .features ul {
    list-style-type: none;
    padding: 0;
  }
  
  .features ul li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .homepage-footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .card-container{
    display: flex;
    flex-direction: column;
    }